<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::head"></head>
<body>
	<div class="page-cover">
		<div th:replace="base::header"></div>
		<div class="main-container">
			<div class="panel-group"  >
				<div class="panel panel-default">
					<a href="#collapse" th:href="@{#collapse1}" data-toggle="collapse" id="collapse-linke-1">
						<div class="panel-heading" id="question-heading">
						<span class="plus">+</span>
						<span class="minus">-</span>
						What is TIN?
						</div> 
					</a>
					<div class="panel-collapse collapse" id="collapse1">
						<div class="panel-body">
							<p>TIN stands for Taxpayer Identification Number, it is a 10 digit number that is unique to each identified taxpayer in Nigeria.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<a href="#collapse" th:href="@{#collapse2}" data-toggle="collapse" id="collapse-linke-2">
						<div class="panel-heading"  id="question-heading">
						<span class="plus">+</span>
						<span class="minus">-</span>
						Who is eligible to get TIN?
						</div>
					</a>
					<div class="panel-collapse collapse" id="collapse2">
						<div class="panel-body">
							<p>Every taxable entity, from individuals to body corporates.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<a href="#collapse" th:href="@{#collapse3}" data-toggle="collapse" id="collapse-linke-3">
						<div class="panel-heading" id="question-heading">
						<span class="plus">+</span>
						<span class="minus">-</span>
						Why is it necessary to register for TIN?
						</div>
					</a>
					<div class="panel-collapse collapse" id="collapse3">
						<div class="panel-body">
							<p>To provide the data required by law, to create a harmonized taxpayer identification platform for Internally Generated Revenue (IGR) automation and Taxpayer Clearance Certificates (TCCs).</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<a href="#collapse" th:href="@{#collapse4}" data-toggle="collapse" id="collapse-linke-4" >
						<div class="panel-heading" id="question-heading">
						<span class="plus">+</span>
						<span class="minus">-</span>
						Where/How can taxpayers register for TIN?
						</div>
					</a>
					<div class="panel-collapse collapse" id="collapse4">
						<div class="panel-body">
							<p>Taxpayers from pilot locations can register at designated SBIR offices, at full Go-Live, taxpayers will be able to register from any registration office and by accessing the registration portal from an internet enabled device.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<a href="#collapse" th:href="@{#collapse5}" data-toggle="collapse" id="collapse-linke-4" >
						<div class="panel-heading" id="question-heading">
						<span class="plus">+</span>
						<span class="minus">-</span>
							What is the difference between TIN and National Identification Number (NIN)?
						</div>
					</a>
					<div class="panel-collapse collapse" id="collapse5">
						<div class="panel-body">
							<p>The National identity database has data on all identified Nigerians while TIN focuses on taxable entities.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<a href="#collapse" th:href="@{#collapse6}" data-toggle="collapse" id="collapse-linke-6" >
						<div class="panel-heading" id="question-heading">
						<span class="plus">+</span>
						<span class="minus">-</span>
							Who initiated TIN?
						</div>
					</a>
					<div class="panel-collapse collapse" id="collapse6">
						<div class="panel-body">
							<p>TIN is an initiative of Joint Tax Board (JTB) and has the 
							backing of both the Federal Executive Council and the National Assembly, it was inaugurated in July 2008.,</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<a href="#collapse" th:href="@{#collapse7}" data-toggle="collapse" id="collapse-linke-7">
						<div class="panel-heading" id="question-heading">
							<span class="plus">+</span>
						<span class="minus">-</span>
							What is the legal basis for the TIN program?
						</div>
					</a>
					<div class="panel-collapse collapse" id="collapse7">
						<div class="panel-body">
							<p>TIN is in line with Part 1, section 8, sub-section (q) of the FIRS Establishment Act 2007 and section 86 of the Personal Income Tax Act.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<a href="#collapse" th:href="@{#collapse8}" data-toggle="collapse" id="collapse-linke-8" >
						<div class="panel-heading" id="question-heading">
						<span class="plus">+</span>
						<span class="minus">-</span>
							What social services will be tied to the TIN program?
						</div>
					</a>
					<div class="panel-collapse collapse" id="collapse8">
						<div class="panel-body">
							<p>Social services regulated by the Federal, State and Local Governments such as the provision of pension, driver’s license, TCC, bank transactions, healthcare, 
							development of agricultural and natural resources etc will incorporate TIN as a pre-requisite for access to such services.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<a href="#collapse" th:href="@{#collapse9}" data-toggle="collapse" id="collapse-linke-9" >
						<div class="panel-heading" id="question-heading">
						<span class="plus">+</span>
						<span class="minus">-</span>
							Will there be technical support for the TIN solution at the States?
						</div>
					</a>
					<div class="panel-collapse collapse" id="collapse9">
						<div class="panel-body">
							<p>The TIN program will provide training for all staff with the impacted roles at the SBIRs. 
							Also there will be a helpdesk at JTB Abuja to provide secondary technical support.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<a href="#collapse" th:href="@{#collapse10}" data-toggle="collapse" id="collapse-linke-10" >
						<div class="panel-heading" id="question-heading">
						<span class="plus">+</span>
						<span class="minus">-</span>
							How will States already implementing TIN or other systems plug-in?
						</div>
					</a>
					<div class="panel-collapse collapse" id="collapse10">
						<div class="panel-body">
							<p>Any existing TIN structure will be migrated to the 10 digit format of JTB.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<a href="#collapse" th:href="@{#collapse11}" data-toggle="collapse" id="collapse-linke-11">
						<div class="panel-heading" id="question-heading">
						<span class="plus">+</span>
						<span class="minus">-</span>
							What are the assurances that the Project is not just one those white elephant projects?
						</div>
					</a>
					<div class="panel-collapse collapse" id="collapse11">
						<div class="panel-body">
							<p>The TIN program has among its major stakeholders FIRS and the 36 
							State BIRs who stand to gain a remarkable improvement in their IGR and as such will not standby and let the project fail.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<a href="#collapse" th:href="@{#collapse12}" data-toggle="collapse" id="collapse-linke-12" >
						<div class="panel-heading" id="question-heading">
						<span class="plus">+</span>
						<span class="minus">-</span>
							What form of enlightenment campaign is the Project embarking on to educate people on what TIN is, especially the layman?
						</div>
					</a>
					<div class="panel-collapse collapse" id="collapse12">
						<div class="panel-body">
							<p>Radio jingles and newspaper advertisement have begun nationwide in Nigeria’s major languages, billboards is next in line.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<a href="#collapse" th:href="@{#collapse13}" data-toggle="collapse" id="collapse-linke-13" >
						<div class="panel-heading" id="question-heading">
						<span class="plus">+</span>
						<span class="minus">-</span>
							How will the TIN ensure uniqueness of the number to be allocated?
						</div>
					</a>
					<div class="panel-collapse collapse" id="collapse13">
						<div class="panel-body">
							<p>For individuals, biometric capturing will be used to validate uniqueness as there are no two humans with exactly the same set of 10 fingerprints while for non-individuals uniqueness will be validated against CAC registration database and existing SIGTAS database.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<a href="#collapse" th:href="@{#collapse14}" data-toggle="collapse" id="collapse-linke-14" >
						<div class="panel-heading" id="question-heading">
						<span class="plus">+</span>
						<span class="minus">-</span>
							How will the project ensure safety of information?
						</div>
					</a>
					<div class="panel-collapse collapse" id="collapse14">
						<div class="panel-body">
							<p>The SIGTAS database has been deployed with very sophisticated firewalls and access to this database is highly restricted even among the JTB staff.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<a href="#collapse" th:href="@{#collapse15}" data-toggle="collapse" id="collapse-linke-15" >
						<div class="panel-heading" id="question-heading">
						<span class="plus">+</span>
						<span class="minus">-</span>
							Will Tax administration become centralized?
						</div>
					</a>
					<div class="panel-collapse collapse" id="collapse15">
						<div class="panel-body">
							<p>No, tax administration will continue to be de-centralized as each SBIR and FIRS will continue to administer tax to the taxable entities under their jurisdiction.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<a href="#collapse" th:href="@{#collapse16}" data-toggle="collapse" id="collapse-linke-16" >
						<div class="panel-heading" id="question-heading">
						<span class="plus">+</span>
						<span class="minus">-</span>
							What happens when taxpayers move from one jurisdiction to the other?
						</div>
					</a>
					<div class="panel-collapse collapse" id="collapse16">
						<div class="panel-body">
							<p>The taxpayer will have to approach its current tax authority who will guide the taxpayer on how to initiate the transfer of the taxpayers record from the previous tax authority.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<a href="#collapse" th:href="@{#collapse17}" data-toggle="collapse" id="collapse-linke-17" >
						<div class="panel-heading" id="question-heading">
						<span class="plus">+</span>
						<span class="minus">-</span>
							What documents are expected by the Taxpayer after registration?
						</div>
					</a>
					<div class="panel-collapse collapse" id="collapse17">
						<div class="panel-body">
							<p>After a successful registration, the Individual Taxpayer will be given a TIN card and a certificate while Non-Individuals will be given a certificate</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<a href="#collapse" th:href="@{#collapse18}" data-toggle="collapse"  id="collapse-linke-18" >
						<div class="panel-heading" id="question-heading">
						<span class="plus">+</span>
						<span class="minus">-</span>
							What means of Identification is required for registration?
						</div>
					</a>
					<div class="panel-collapse collapse" id="collapse18">
						<div class="panel-body">
							<p>Any valid means of identification will suffice </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="base::footer"></footer>
	</div>
</body>
</html>