<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fTemplate :: head"></head>
<body>
	<div th:replace="fTemplate :: main_menu"></div>

	<div class="container">
		<div style="padding-top: 50px;" class="mx-auto">

			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tag" href="#menu_dashboard">Dashboard</a></li>
				<li><a data-toggle="tab" href="#menu_lga">LGA</a></li>
				<li><a data-toggle="tab" href="#menu_state">State</a></li>
				<li><a data-toggle="tab" href="#menu_tax_office">Tax Office</a></li>
				<li><a data-toggle="tab" href="#menu_preference">Preference</a></li>
			</ul>

			<div class="tab-content">

				<div id="menu_dashboard" class="tab-pane fade in active">
					<h3>Dashboard</h3>
					<p th:text="${errmessage}"></p>
				</div>
				<div id="menu_lga" class="tab-pane fade in">
					<p>Local Govt. Area</p>
					<br/> 
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">Update Tax Office</div>
							<div class="panel-body">
								<div class="form-group row ">
									<form action="update-lga-taxoffice"
										th:attr="action=@{/update-lga-taxoffice}" method="post"
										class="col-md-12">
										<div class="form-group">
											<label>LGA</label> <select name="lgaName">
												<option th:value="${-1}" th:text="${'... Select LGA ...'}"
													class="form-control"></option>
											<option th:value="${lga.name}"
												th:text="${lga.name+' '+(lga.code)+' : '+ lga.taxOfficeName}"
												th:each="lga : ${lgas}" class="form-control"></option>
										</select>
									</div>
									<div class="form-group">
										<label>Tax Office</label> <select name="taxOfficeId">
											<option th:value="${-1}"
												th:text="${'... Select Tax Office ...'}"
												class="form-control"></option>
											<option th:value="${to.id}" th:text="${to.name}"
												th:each="to : ${taxOffices}" class="form-control"></option>
										</select>
									</div>

									<div class="form-group">
										<label>Tax Office Name</label> <input type="text"
											class="form-control" name="taxOfficeName"
											placeholder="Enter Tax Office Name" />
									</div>
									<button type="submit" class="btn btn-defualt col-md-5 ">Update</button>
								</form>
							</div>
						</div>
					</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">LGA update</div>
							<div class="panel-body">
								<div class="form-group row ">
									<form action="update-lga-taxoffice"	th:attr="action=@{/admin/portal/lga/update/rc_record-lga-name}" method="post"	class="col-md-12">
										<div class="form-group">
											<label>Existing LGA Name</label> <input type="text" class="form-control" name="existingLgaName"	placeholder="Existing Lga Name" />
										</div>
										<div class="form-group">
											<label>New LGA Name</label> <input type="text" class="form-control" name="newLgaName" placeholder="New Lga Name" />
										</div>
									<button type="submit" class="btn btn-defualt col-md-5 ">Update</button>
								</form>
							</div>
						</div>
					</div>
					</div>
				</div>
				<div id="menu_state" class="tab-pane fade">
					<br/> 
					<div class="panel panel-default">
						<div class="panel-heading">Update State</div>
						<div class="panel-body">
							<div class="form-group row ">
								<form action="update-state-taxoffice"
									th:attr="action=@{update-state-taxoffice}" method="post"
									class="col-md-12">
									<div class="form-group">
										<label>State</label> <select name="stateName">
											<option th:value="${-1}" th:text="${'... Select State ...'}"
												class="form-control"></option>
											<option th:value="${st}"
												th:text="${st.name +' : '+ st.taxOfficeName}"
												th:each="st : ${states}" class="form-control"></option>
										</select>
									</div>
									<div class="form-group">
										<label>Tax Office</label> <select name="taxOfficeId">
											<option th:value="${-1}"
												th:text="${'... Select Tax Office ...'}"
												class="form-control"></option>
											<option th:value="${to.id}" th:text="${to.name}"
												th:each="to : ${taxOffices}" class="form-control"></option>
										</select>
									</div>

									<div class="form-group">
										<label>Tax Office Name</label> <input type="text"
											class="form-control" name="taxOfficeName"
											placeholder="Enter Tax Office Name" />
									</div>
									<button type="submit" class="btn btn-defualt col-md-5">Update</button>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div id="menu_tax_office" role="tabpanel" class="tab-pane fade in">
					<br/> 
					<div class="col-md-6">
						<div class="panel panel-default">
						<div class="panel-heading">Add Tax Office</div>
						<div class="panel-body">

							<div class="form-group row ">
								<form action="add-taxoffice" th:attr="action=@{/add-taxoffice}"
									method="post" class="col-md-12">
									<div class="form-group">
										<label>Name</label> <input type="text" required="required"
											class="form-control" name="name" placeholder="Enter name" />
									</div>
									<div class="form-group">
										<label>Code</label> <input type="text" required="required"
											class="form-control" name="code" placeholder="Enter code" />
									</div>
									<div class="form-group">
										<label>JTB Code</label> <input type="text"
											required="required" class="form-control" name="jtbId"
											placeholder="Enter JTB Code" />
									</div>
									<div class="form-group">
										<label>FIRS Code</label> <input type="text"
											required="required" class="form-control" name="firsId"
											placeholder="Enter FIRS Code" />
									</div>
									<div class="form-group">
										<label for="exampleTextarea">Address</label>
										<textarea required="required" class="form-control"
											name="address" rows="3"></textarea>
									</div>
									<button type="submit" class="btn btn-defualt col-md-5 ">Add</button>
								</form>
							</div>
						</div>
					</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">Update Tax Office</div>
							<div class="panel-body">

							<div class="form-group row ">
								<form action="add-taxoffice" th:attr="action=@{/admin/portal/taxoffice/update/rc_record-tax_office-name}"
									method="post" class="col-md-12">
									<div class="form-group">
										<label>Existing Name</label> <input type="text" required="required"
											class="form-control" name="existingTaxOfficeName" placeholder="Enter name" />
									</div>
									<div class="form-group">
										<label>New Name</label> <input type="text" required="required"
											class="form-control" name="newTaxOfficeName" placeholder="Enter code" />
									</div>
									
									<button type="submit" class="btn btn-defualt col-md-5 ">Update</button>
								</form>
							</div>
						</div>
					</div>
					</div>
				</div>

				<div id="menu_preference" role="tabpanel" class="tab-pane fade in">

					<br/> <small id="errorMessage" th:text="${errmsg}"
						th:if="${errmsg != null}" class="form-text text-muted text-danger"></small>
					<div class="panel panel-default">
						<div class="panel-heading">Preference</div>
						<div class="panel-body">
							<div class="bs-example widget-shadow col-md-12 "
								data-example-id="contextual-table">
								<table id="example" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>S/N</th>
											<th>Name</th>
											<th>Value</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr class="" th:each="entry, indx: ${preferences}">
											<th scope="row" th:text="${indx.index} + 1">#</th>
											<td th:text="${entry.name} ">Name</td>
											<td><textarea readonly="readonly" rows="1" cols="50"
													th:text="${entry.value}"></textarea></td>
											<td><button
													th:attr="data-pref_value=${entry.value}, data-pref_name=${entry.name}"
													type="button" class=" btn btn-default btn-sm editPrefButt">Edit</button></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div hidden="hidden" id="newPrefForm" class="col-md-12">
								<hr />
								<p>New Preference</p>
								<form method="post" action="/admin/portal/preference/new-update">
									<div class="form-group col-md-12">
										<label class="control-label col-sm-2">Name:</label>
										<div class="col-sm-9">
											<input id="name" name="name" type="text" class="form-control"
												placeholder="name" required="required" />
										</div>
									</div>
									<div class="form-group col-md-12">
										<label class="control-label col-sm-2">Value:</label>
										<div class="col-sm-9">
											<textarea id="value" name="value" rows="3"
												class="form-control" placeholder="value" required="required"></textarea>
										</div>
									</div>
									<div class="col-md-offset-10">
										<button type="submit" class="btn btn-default">Save</button>
									</div>
								</form>
							</div>
						</div>
						<div class="panel-footer">
							<div class="row">
								<div class="col-md-6">
									<a id="hidePanelButt" class="btn btn-default">New
										Preference</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 	<label th:text="${errmessage}" class="text text-danger"></label> 
		<label th:text="${sucmessage}" class="text text-success"></label>	
							   
		 -->

		</div>
	</div>

	<div th:replace="fTemplate :: footer"></div>
	<script>
             $(document).ready(function(){            	    
            	 $('#example').dataTable();
            	 $("#saveButt").hide();
            	 $("#hidePanelButt").click(function(){
            		 if($(this).attr('data-isShowing') === undefined || $(this).attr('data-isShowing') === false){
            			$(this).html('Cancel');            		 
            			$(this).attr('data-isShowing',true);
            			$("#newPrefForm").show(1000);    
            			return;
            		 }else{
            			 $(this).html('New Preference');   
	            		 $("#newPrefForm").hide(1000);
             			 $(this).attr('data-isShowing',false);
             			return;
            		 }            		        		 
            	 });    
            	 $('.editPrefButt').click(function (){
            		// $('#name').attr('disabled','disabled');
            		 $('#name').val($(this).attr('data-pref_name'));
            		 $('#value').val($(this).attr('data-pref_value'));
            		 $("#hidePanelButt").click();
            	 });            	             	            	 
             });            
		    
		     
	     </script>
</body>
</html>